# Copia este archivo como .dev.vars. Nunca subas .dev.vars a GitHub.
ROUTE_USERNAME=rutaverde
ROUTE_PASSWORD=CAMBIA_ESTA_CONTRASENA
ROUTE_SESSION_SECRET=GENERA_UN_SECRETO_ALEATORIO_LARGO
ROUTE_DATA_KEY=CLAVE_AES_256_DE_32_BYTES_EN_BASE64
