# Copia este archivo como .dev.vars. Nunca subas .dev.vars a GitHub.
ROUTE_USERNAME=USUARIO_CONDUCTOR_ALEATORIO
ROUTE_PASSWORD=CONTRASENA_CONDUCTOR_LARGA
JEFATURA_USERNAME=USUARIO_JEFATURA_ALEATORIO
JEFATURA_PASSWORD=CONTRASENA_JEFATURA_LARGA
SUPERADMIN_USERNAME=USUARIO_SUPERADMIN_ALEATORIO
SUPERADMIN_PASSWORD=CONTRASENA_SUPERADMIN_LARGA
ROUTE_SESSION_SECRET=SECRETO_ALEATORIO_DE_32_BYTES_O_MAS
ROUTE_DATA_KEY=CLAVE_AES_256_DE_32_BYTES_EN_BASE64
